# Virtual environments
venv/
.venv
venv.bak/

#VSCode settings
vscode/
.vscode
./.vscode/
# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*
./.env
env
.env*.local
# Ignore log files
logs/

# Ignore Chrome TMP files
tmp-chrome-profile/
tmp-chrome-profile-*/

page.har